name: Build and Publish

on:
  push:
    branches:
     - master
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMP
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - run: echo "TAG_NOW=$(date +'%Y-%m-%d-%H-%M-%S')" >> $GITHUB_ENV

      - run: echo "ARTIFACT_NAME=$(git config --get remote.origin.url | sed 's/\.git//' | sed 's/^.*\///')" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.ARTIFACT_NAME }}:latest, ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.ARTIFACT_NAME }}:${{ env.TAG_NOW }}
          push: true
          platforms: linux/amd64,linux/arm64

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
